{% extends 'layout.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  <h3 style="text-align: center;">Formulario para crear articulo</h3>
  <form id="form" action="{% url 'f_create_article' %}" method="post">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Escribe el titulo" required />
    <input type="text" name="content" placeholder="Escribe el contenido" required />
    <input type="text" name="image" placeholder="Escribe la imagen" required />
    <select required name="published_time">
      <option hidden>¿Está publicado?</option>
      <option value="1">Sí</option>
      <option value="0">No</option>
    </select>
    <textarea rows="5" placeholder="Escribe tu comentario (será ignorado)"></textarea>
    <button type="submit">Crear</button>
  </form>
{% endblock %}
