{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div id="h-1">
            <img src="{% static 'images/stitch&angela.png' %}" alt="stitch&angela">
            <h1>Los perritos de la pradera</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'articles' %}">Articles</a></li>
                <li><a href="{% url 'v_create_article' %}">Create article</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>My Site &copy; {% now "d/m/Y H:i:s" %}</p>
    </footer>
</body>
</html>